<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>meuprojetodjango</title>
</head>
<body>
    <h1>Pessoas cadastradas</h1>
    <table border="1">
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th colspan = !2>Opções</th>
        </tr>
        
        {% for pessoa in pessoas %}
        <tr>
            <td>{{ pessoa.nome }}</td>
            <td>{{ pessoa.email }}</td>
            <td><a href="{% url 'atualizar_pessoa' pessoa.id %}"><button>Editar</button></a></td>
            <td><a href="{% url 'deletar_pessoa' pessoa.id %}"><button>Apagar</button></a></td>
        </tr>
        
        {% endfor %}

    </table>
   
<a href="{% url 'criar_pessoa' %}">Cadastrar Nova Pessoa</a>
</body>
</html>